<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>点餐</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="icon" type="image/png" href="/AmazeUI-2.7.2/assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/AmazeUI-2.7.2/assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="/AmazeUI-2.7.2/assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/AmazeUI-2.7.2/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/AmazeUI-2.7.2/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/AmazeUI-2.7.2/assets/css/app.css">
    <link rel="stylesheet" href="http://amazeui.org/css/admin.css">
    <style>
        .box {
            display: -webkit-flex;
            /* Safari */
            display: flex;
            flex-wrap: wrap;
            margin: 1em;

        }

        .item {
            width: 150px;
            height: 130px;
            flex: none;
            text-align: center;
            margin: 2em;
        }

        .item p {
            margin: 0;
            font-size: 20px;
            color: white;
        }

        .manger_box {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <header class="am-topbar am-topbar-inverse admin-header">
            <div class="am-topbar-brand">
                <strong>{{title}}</strong>
                <small></small>
            </div>


            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

                <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                    <li>
                        <a _href="#">
                            <span class="am-icon-envelope-o"></span> 桌位管理
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="am-cf admin-main">
            <div class="admin-content">
                <div class="admin-content-body">

                    <div class="box">

                        <div v-for="item in desks" v-on:click="click_desk(item)" class="item" v-bind:style="{ border: '1px solid ' + item.status.color}">

                            <div style="width:100%;height: 80%; " v-bind:style="{ background: item.status.color}">
                                <p>{{item.name}}</p>
                                <p>{{item.number}}</p>
                            </div>
                            <div style="text-align: center;" v-bind:style="{ color: item.status.color}">{{item.status.title}}</div>
                            <div class="manger_box">
                                <button class="am-btn am-btn-default">
                                    <i class="am-icon-cog"></i>
                                    设置
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
        <!--模态对话框-->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">桌位管理
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">
                    <form class="am-form" style=" text-align: left;">
                        <div class="am-form-group">
                            <label for="doc-ipt-email-1">桌位名称:</label>
                            <input type="text" class="" id="doc-ipt-email-1" placeholder="输入桌位名称">
                        </div>


                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-offset-2">
                                <button type="submit" class="am-btn am-btn-default">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--下单对话框-->
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
            <div class="am-modal-dialog">
                <div style="color:white" v-bind:style="{ background: current_desk.status.color}" class="am-modal-hd">下单: {{current_desk.name}} 用餐人数 {{current_desk.number}}人 , {{current_desk.status.title}}
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">
                    <div class="am-scrollable-horizontal" style=" text-align: left;">
                        <table class="am-table am-table-bordered am-table-striped am-text-nowrap am-table-striped am-table-hover">
                            <thead>
                                <tr>
                                    <th>分类</th>
                                    <th>菜品</th>
                                    <th>数量</th>
                                    <th>单价(元)</th>
                                    <th>小计(元)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in current_desk.dishes">
                                    <td>{{item.type}}</td>
                                    <td>{{item.name}}</td>
                                    <td>x{{item.number}}</td>
                                    <td>{{item.unit_price}}</td>
                                    <td>{{item.subtotal}}</td>
                                </tr>
                                 
                            </tbody>
                        </table>

                    </div>
                    <div class="am-form-group">

                        <div class="">
                            <table class="am-table  am-table-striped am-text-nowrap">
                                <tbody>
                                    <tr>
                                        <td>下单时间: {{current_desk.s_time}}
                                            <br/>结账时间: {{current_desk.e_time}} </td>
                                        <td>
                                            <button type="submit" class="am-btn am-btn-primary">加菜</button>
                                            <button type="submit" class="am-btn am-btn-default">减菜</button>
                                            <button type="submit" class="am-btn am-btn-default">打印小票</button>
                                        </td>
                                        <td>
                                            <div style="    float: right;">共9件, 合计: $999
                                                <button type="submit" class="am-btn am-btn-danger">结账</button>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--在这里编写你的代码-->

    </div>
</body>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>

<script src="/AmazeUI-2.7.2/assets/js/amazeui.min.js"></script>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: '点餐',
            desks: [
                {
                    id: 1,
                    name: 'A1',
                    number: 10,
                    status: {
                        title: "就餐中",
                        color: "rgb(255, 114, 61)"
                    }
                }, {
                    id: 2,
                    name: 'A2',
                    number: 3,
                    status: {
                        title: "点餐中",
                        color: "rgb(53, 180, 0)"
                    }
                }, {
                    id: 3,
                    name: 'A3',
                    number: 0,
                    status: {
                        title: "空桌",
                        color: "grey"
                    }
                },
            ],
            current_desk:{
                    id: 1,
                    name: 'A1',
                    number: 10,
                    s_time:'2019-06-21 12:12:12',
                    e_time:'2019-06-21 14:14:14',
                    status: {
                        title: "就餐中",
                        color: "rgb(255, 114, 61)"
                    },
                    dishes:[
                        {
                            id:1,
                            name:'土鸡粥',
                            number:1,
                            type:'煲粥',
                            unit_price:40,
                            subtotal:40
                        },
                        {
                            id:2,
                            name:'牛河[少辣]',
                            number:2,
                            type:'炒菜',
                            unit_price:15,
                            subtotal:30
                        },
                        {
                            id:3,
                            name:'正宗扬州炒饭[中辣]',
                            number:1,
                            type:'炒菜',
                            unit_price:12,
                            subtotal:12
                        },
                        {
                            id:3,
                            name:'绿豆糖水',
                            number:3,
                            type:'糖水',
                            unit_price:5,
                            subtotal:15
                        }
                    ]
                }
        },
        methods: {
            click_desk: function (item) {

                if ('空桌' == item.status.title) {
                    //跳转到另一个页面
                    window.location.href = 'index.html';
                } else if ('就餐中' == item.status.title) {
                    console.log('就餐中');
                    //弹出对话框
                    $('#doc-modal-2').modal({ target: '#doc-modal-2', closeViaDimmer: 0, width: 900, height: 500 });
                } else {

                }
            }
        }
    })
</script>

</html>